<header id="header">
</header>

<div class="navBg">
    <div class="cw">
        <div class="navDiv">
            <ul class="clearfix">
				<li><a href="<%- url_for('/') %>">官网首页<span>Home</span></a></li>
                <li>
                    <a href="<%- url_for('/about/index.html') %>">企业介绍<span>Introduction</span></a>
                    <ul>
                        <li><a href="<%- url_for('/about/vision.html') %>">企业文化</a></li>
                        <li><a href="<%- url_for('/about/areas.html') %>">应用领域</a></li>
                    </ul>
                </li>
                <li><a href="<%- url_for('products/solution.html') %>">解决方案<span>Solution</span></a></li>
                <li>
                    <a href="<%- url_for('products/') %>">产品介绍 <span>Product</span></a>
                    <ul>
                        <li><a href="<%- url_for('products/') %>">凯尼真空泵</a>
                            <dl>
                            <% site.pages.forEach(function(p) { %>
                                <% if (p.tags === '凯尼真空泵' && !p.isList) {%>
                                <dd><a href="<%- url_for(p.path) %>"><%- p.title %></a></dd>
                                <% } %>
                            <% }); %>
                            </dl>
                        </li>
                        <li>
                            <a href="<%- url_for('products/blowers.html') %>">罗茨风机</a>
                            <dl>
                                <% site.pages.forEach(function(p) { %>
                                <% if (p.tags === '罗茨风机' && !p.isList) {%>
                                <dd><a href="<%- url_for(p.path) %>"><%- p.title %></a></dd>
                                <% } %>
                                <% }); %>
                            </dl>
                        </li>
                    </ul>
                </li>
                <li><a href="<%- url_for('catalog/index.html') %>">产品样册<span>Catalog</span></a></li>
                <li><a href="<%- url_for('contact/index.html') %>">联系我们<span>Contact us</span></a></li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(function(){
        $(".navDiv>ul>li").hover(function() {
            $(".navDiv>ul>li>a").removeClass("cur");
            $(".navDiv>ul>li>ul").hide();
            $(this).find("ul").slideDown();
        },function() {
            $(".navDiv>ul>li>ul").hide();
        });
        $(".navDiv>ul>li>ul>li").hover(function(){
            var index=$(".navDiv>ul>li>ul>li").index($(this));
            $(".navDiv>ul>li>ul>li>a").removeClass("cur");
            $(this).find("a").addClass("cur");
            $(".navDiv>ul>li>ul>li>dl").hide();
            $(this).find("dl").show();
        });
    });
</script>
