<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name='keywords' content='<%= config.title %>' />
  <meta name='description' content='<%= config.title %>'/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <%- css('css/style') %>
  <%- partial('baidu-tongji') %>
  <link href="<%- url_for('css/reset.min.css') %>" type="text/css" rel="stylesheet" />
  <link href="<%- url_for('css/layout.css') %>" type="text/css" rel="stylesheet" />
  <link href="<%- url_for('css/common.css') %>" type="text/css" rel="stylesheet" />
  <link href="<%- url_for('css/index.css') %>" type="text/css" rel="stylesheet" />
  <link href="<%- url_for('css/style.css') %>" type="text/css" rel="stylesheet" />
  <link href="<%- url_for('css/page.css') %>" type="text/css" rel="stylesheet" />
  <!--[if IE]><script src="<%- url_for('js/lib/html5.js') %>"></script><![endif]-->
  <!--[if lt IE 10]><script type="text/javascript" src="<%- url_for('js/lib/PIE.js') %>"></script><![endif]-->
  <script type="text/javascript" src="<%- url_for('js/lib/jquery.min.js') %>"></script>
  <script type="text/javascript" src="<%- url_for('js/lib/prefixfree.min.js') %>"></script>
  <script type="text/javascript" src="<%- url_for('js/lib/jquery.easing.1.3.js') %>"></script>
  <script type="text/javascript" src="<%- url_for('js/lib/jquery.touchSlider.js') %>"></script>
</head>
