<% var background = 'images/about/banner1.jpg'%>
<section>
    <div class="bannerList" style="background-image:url(<%- url_for(background) %>)"></div>
        <div class="cw">
            <div class="mainPd">
                    <div class="clearfix">
                        <div class="sidebarL fl">
                            <script type="text/javascript">
                            $(function(){
                                $(".sidebarL ul li dl").hide();
                                $(".sidebarL ul li a.sidebarUlA").hover(function(){
                                    var index=$(".sidebarL ul li a.sidebarUlA").index($(this));
                                    $(".sidebarL ul li a.sidebarUlA").removeClass("cur").eq(index).addClass("cur");
                                    $(".sidebarL ul li dl").hide();
                                    $(this).next("dl").show();
                                });
                             });
                             </script>
                            <p class="sidebarLtitle">凯尼真空介绍 <span></span></p>
                            <ul>
                                <li><a href="<%- url_for('/about/index.html') %>" class="sidebarUlA"><span>企业介绍</span></a></li>
                                <li><a href="<%- url_for('/about/vision.html') %>" class="sidebarUlA"><span>企业文化</span></a>
                                       <dl>
                                            <dd><a href="<%- url_for('/about/vision.html') %>">愿景</a></dd>
                                            <dd><a href="<%- url_for('/about/mission.html') %>">使命</a></dd>
                                            <dd><a href="<%- url_for('/about/value.html') %>">价值观</a></dd>
                                       </dl>
                                </li>
                            <li><a href="<%- url_for('/about/areas.html') %>" class="sidebarUlA"><span>服务市场</span></a></li>
                            </ul>
                        </div>
                        <div class="sidebarR fr">
                            <% if (page.tags === 'about') {%>
                            <h3 style="border-bottom:none;">企业介绍</h3>
                            <div class="cnList">
                                <p>
凯尼始于1908年，总部威固乐位于美国，德克萨斯州伯休斯顿市，一直专注于真空方向的研究，凯尼真空产品及系统是全球真空市场的顶尖产品。
上百年以来，凯尼真空产品及系统一直长期服务于化工，医药，食品&饮料，农业，电力&能源等市场应用，处理过易燃、易爆、剧毒、聚合及更复杂工况的气体，人们吃的食品、穿的衣服、住的房子、开的车子、用的产品都有凯尼真空的存在，作为行业的隐形设备供应商，一代又一代的凯尼人为了“真空创造更美好生活”（vacuum for a beautiful life）的信念而努力。

                                </p>
                                <p>
我们引以为傲的产品包括：零泄漏、精准温度控制、专利结构防冷凝、螺杆内冷却的干式螺杆真空泵，一直引领世界真空的零泄漏的、高排气温度、高压差的、高性能的罗茨真空泵，比单级更高的抽速、更好的真空度、防气蚀、高品质的双级液环真空泵， 适用于恶劣工况的、采用三缸平衡设计的(不需地脚螺栓固定)、超静音的、立式安装的滑阀真空泵,单级及双级的旋片式真空泵,干式螺杆真空系统、罗茨螺杆真空系统、液环真空系统、液环罗茨真空系统、滑阀罗茨系统及旋片罗茨系统等。
                                </p>
                                <p style="font-family: microsoft yahei;font-style:italic;margin-top:90px;line-height:1.4;font-size:20px;background: #0181b0; color: white; padding: 20px 50px; text-align: center;">
									Vacuum For A Beautiful Life<br>
									真空创造美好生活
								</p>
                            </div>
                            <% } %>

                            <% if (page.tags === 'about-vision') {%>
                            <h3 style="border-bottom:none;">成为真空解决方案领域的世界领导企业!</h3>
                            <div class="brandList" style="background-image:url(<%- url_for('images/about/visionImg.jpg') %>);">
                                <div class="brandWidth">
                                <p class="brandgray">
                                作为一个由优秀员工驱动的卓越团体，在用真空创造美好生活的使命指引下，我们将在持续改进的过程中共同：<br>
                                <span>创建一家卓越的公司</span><br>
                                <span>建立健康成长的家庭</span><br>
                                <span>对周围产生巨大影响</span></p>
                                </div>
                            </div>
                            <% } %>

                            <% if (page.tags === 'about-mission') {%>
                            <h3 style="border-bottom:none;">用真空创造美好生活!</h3>
                            <div class="brandList" style="background-image:url(<%- url_for('images/about/missionImg.jpg')%>)">
                                <div class="brandWidth">
                                <p class="brandgray">
                                凯尼真空所服务的市场是维持人们生活的基础市场。我们选择这些市场主要有两个原因：长期稳定的增长以及对我们的生活贡献巨大。我们的产品在可靠，持久，耐用的基础上，持续创新满足客户应用领域持续变革的苛刻需求。</p>
                            </div>
                            </div>
                            <% } %>

                            <% if (page.tags === 'about-value') {%>
                            <h3 style="border-bottom:none;">
                                诚信敬业，持续创新，团队协作，价值共赢
                            </h3>
                            <div class="brandList" style="background-image:url(<%- url_for('images/about/valueImg.jpg') %>);">
                                <div class="brandWidth">
                                <p class="brandgray">
                                我们崇尚的价值观是实现我们使命和愿景的基石：
                                </p>
                                <p class="brandgray">
                                <strong>诚信敬业：</strong>我们坚持信守承诺，有始有终的将客户的需求落到实处，我们坚持专业的执着追求，精益求精的将每一件小事做好、做精、做专。
                                </p>
                                <p class="brandgray">
                                <strong>持续创新：</strong>我们坚持关注客户业务所面临的挑战，聆听客户的真实需求，通过制造过程的持续改善，技术研发的不断改进与突破，服务过程的持续优化，为我们的客户提供高品质的产品和服务，提供创新的解决方案，帮助我们的客户持续改善业务，赢得市场。
                                </p>
                                <p class="brandgray">
                                <strong>团队协作：</strong>我们坚持通过团队协作取得成功，我们尊重每一个成员，鼓励他们不断成长，成就卓越，我们相互协作共同成长，成就非凡事业。
                                </p>
                                <p class="brandgray">
                                <strong>价值共赢：</strong>我们坚持服务全球任何角落最具价值追求观念的客户，我们将在为客户创造价值的过程中，实现员工的个人价值，为周围的世界创造价值，成就客户、公司、个人、社会的多方共赢。
                                </p>
                                </div>
                            </div>
                            <% } %>

                            <% if (page.tags === 'about-areas') {%>
                            <h3 style="border-bottom:none;">服务市场</h3>
                            <div class="cnList">
                                <p>凯尼真空集团所服务的市场是维持人们生活的基础市场。我们选择这些市场主要有两个原因：长期稳定的增长以及对我们生活的贡献。我们的产品是建立在可靠，持久，耐用的基础上来满足应用领域的苛刻需求!</p>
                                <ul>
                                    <li>
                                        <h5>化工</h5>
                                        <div class="clearfix">
                                            <p class="areasL fl"><img src="<%- url_for('images/about/areasImg2.jpg') %>" width="200" height="125"></p>
                                            <p class="areasR fl">化工市场包括所有对我们至关重要的物质的制造与市场流程。我们的产品大多数都被应用于抽吸、测量、混合、注入化工产品来生产聚合物、树脂、油漆、涂料、密封剂、橡胶和塑料化合物、纸浆、造纸化学品和表面活性剂用于汽车、建筑、个人护理产品等。我们的产品也用于石油生产的化工流程、蒸气回收、天然气输送、粘合剂和密封剂蒸馏和真空成型。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <h5>建筑</h5>
                                        <div class="clearfix">
                                            <p class="areasL fl"><img src="<%- url_for('images/about/areasImg3.jpg') %>" width="200" height="125"></p>
                                            <p class="areasR fl">住房是人类生活的基石之一。我们的设备也广泛用于此市场。我们的燃油泵为建筑设备提供能源来帮助它们完成非常重要的任务。我们设计和制造定制产品来配套到一些复杂的建筑设备上。我们也是OEM配套设备用于商业建筑中制冷系统的主要供应商之一。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <h5>能源</h5>
                                        <div class="clearfix">
                                            <p class="areasL fl"><img src="<%- url_for('images/about/areasImg4.jpg') %>" width="200" height="125"></p>
                                            <p class="areasR fl">能源市场是一个庞大的市场包括了所有的能源（比如：风力、电力、石油煤炭、天然气）和其相关的识别、生产、萃取和分配。举个例子，我们制造的润滑油泵集成到大型岩心钻机上用于探测，大型油田泵用于萃取，并且大型泵和压缩机用于输送萃取出来的油和天然气。我们制造的泵还应用在原油分馏和精制润滑油，使得其更有价值。我们的润滑油泵应用在大型风力发电机中的齿轮箱中，并且我们的流程泵应用在生物燃料的生产过程中。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <h5>食物和饮料</h5>
                                        <div class="clearfix">
                                            <p class="areasL fl"><img src="<%- url_for('images/about/areasImg5.jpg') %>" width="200" height="125"></p>
                                            <p class="areasR fl">一旦当食物被生产和收获，它就已经做好被消费的准备了。我们提供真空系统用于包装，提供泵和风机用于输送食品。特别的是我们的泵可以用来输送巧克力、大豆油、玉米糖浆、花生酱、糖浆和一些其他油类和调味品。我们的产品也可以集成到OEM配套用于制冷、食品配料、包装和喷码机等印标设备。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <h5>医药</h5>
                                        <div class="clearfix">
                                            <p class="areasL fl"><img src="<%- url_for('images/about/areasImg6.jpg') %>" width="200" height="125"></p>
                                            <p class="areasR fl">医药市场包括所有药物及设备，能帮助我们达到健康状态的所有东西。我们的产品集成到一些设备用于支持精确诊断，尤其是对于那些心脏疾病、癌症和其他一些感染性和自身免疫性疾病上的诊断。我们的泵业可以用于冷却成像设备以及手术器械中，也可以应用于血液和组织分析。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <h5>交通运输</h5>
                                        <div class="clearfix">
                                            <p class="areasL fl"><img src="<%- url_for('images/about/areasImg7.jpg') %>" width="200" height="125"></p>
                                            <p class="areasR fl">虽然这个市场主要是由制造汽车、公车和卡车所影响，我们选择不去参与这些产品的生产而是更多的应用在他们生产过程中所需要的某一个环节。举个例子，我们的风机在卡车上用于天然气开采、输送沙子、粮食和水泥等。另一个例子，如何在卡车上使用我们的真空泵进行地毯清洗。我们的产品也可以集成到制冷系统中用来输送容易腐烂的介质。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <h5>公共事业</h5>
                                        <div class="clearfix">
                                            <p class="areasL fl"><img src="<%- url_for('images/about/areasImg8.jpg') %>" width="200" height="125"></p>
                                            <p class="areasR fl">另一个关键市场就是水处理和废水处理。我们的泵被广泛应用于该市场，用来测量饮用水中的化学物质及净化和消毒，污水的曝气及处理。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <h5>航空航天</h5>
                                        <div class="clearfix">
                                            <p class="areasL fl"><img src="<%- url_for('images/about/areasImg9.jpg') %>" width="200" height="125"></p>
                                            <p class="areasR fl">大的空间模拟装置是用于模拟不同的海拔高度和太空的工况以及试验飞行器和人身在减压状态下的影响。太空模拟装置要求大容量的高真空泵，但是为了预抽真空，其前级真空泵仍然是不可缺少的。凯尼大容量KMBD罗茨真空泵和TVSP螺杆真空泵是最理想的选择，这类真空泵既清洁无油又不存在油雾和废液的排放问题。</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <% } %>
                    </div>
               </div>
          </div>
     </div>
</section>