<div class="bannerList" style="background-image:url(<%- url_for('images/uploads/2015012105003624488.jpg')%>)"></div>
    <div class="cw">
        <div class="mainPd">
            <div class="clearfix">
                <div class="sidebarL fl">

                    <p class="sidebarLtitle">
                        <span><%- page.tags === '解决方案' ? '解决方案' : '产品介绍' %></span>
                    </p>
                    <ul>
                        <% if (page.tags === '解决方案') { %>
                        <li><a href="<%- url_for('products/solution.html') %>" class="sidebarUlA <%- page.tags === '解决方案' ? 'cur' : '' %>"><span>解决方案</span></a></li>
                        <% } else { %>
                        <li>
                            <a href="<%- url_for('products/') %>" class="sidebarUlA <%- (page.tags === '凯尼真空泵' ? 'cur' : '') %>">
                                <span>凯尼真空泵</span>
                            </a>
                        </li>
                        <li><a href="<%- url_for('products/blowers.html') %>" class="sidebarUlA <%- page.tags === '罗茨风机' ? 'cur' : '' %>"><span>罗茨风机</span></a></li>
                        <% } %>
                    </ul>
                </div>
                
                <div class="sidebarR fr" style="margin-top:-10px;">
                    <div class="MBX">
                        <div class="fr">
                            <a href="/"><img src="<%- url_for('images/products/home.png') %>" width="10" height="10"></a>
                            <a href="<%- url_for('products/') %>">
                                <img src="<%- url_for('images/products/proXueRight.png') %>" width="3" height="5">
                                产品&amp;方案
                                <img src="<%- url_for('images/products/proXueRight.png') %>" width="3" height="5">
                            </a>
                            <span><%- page.tags %></span>
                        </div>
                    </div>

                    <% if (page.isList) { %>
                    <% if (page.tags === '解决方案') { %>
                        <div class="solutionPd mt20">
                            <h3>凯尼真空真空泵解决方案</h3>
                            <div class="solutionWidth">
                                <h5>PTMEG工艺</h5>
                                <img src="<%- url_for('images/products/solution001.png') %>" width="100%">
                            </div>
                            <p>PTMEG是重要的化工原料，主要用于生产聚氨酯弹性体、氨纶和酯醚共聚弹性体；凯尼真空真空泵采用一流的密封结构设计，螺杆泵采用波纹管机械密封与三联唇型密封，罗茨泵采用迷宫密封与机械密封，实现了工艺气体零泄露；同时真空泵机组实现了无油无水干式运转，降低了维护维修的成本。</p>
                            <div class="solutionWidth">
                                <h5>ABS工艺</h5>
                                <img src="<%- url_for('images/products/solution002.png') %>" width="100%">
                            </div>
                            <p>ABS树脂是一种介于通用塑料和高性能工程塑料之间的热塑性工程塑料，广泛应用于家用电器、IT行业、建材、汽车工业等领域；由于ABS工艺中含有剧毒丙烯腈介质，凯尼真空使用二级罗茨液环真空泵机组，罗茨泵采用迷宫密封与机械密封，液环泵采用双端面机械密封并配置PLAN 53冲洗方案，真空泵系统可以在线监控工艺气体泄露状态，保证工艺安全可靠运行。</p>
                            <div class="solutionWidth">
                                <h5>有机硅工艺</h5>
                                <img src="<%- url_for('images/products/solution003.png') %>" width="100%">
                            </div>
                            <p>工艺介质主要是六甲基环三硅氧烷（D3）、八甲基环四硅氧烷（D4）、十甲基环五硅氧烷（D5）、十二甲基环六硅氧烷(D6)和盐酸等。凯尼真空采用罗茨螺杆泵机组，真空泵采用独特的密封设计结构和防腐蚀涂层，并配置氮气密封冲洗保护装置；同时根据工艺介质特性，配置溶剂冲洗罐和变频电机，实现开停机在线气障保护和溶剂冲洗的全自动化控制。</p>
                        </div>
                        <div class="solutionPd mt20">
                            <h2>风机解决方案</h2>
                            <div class="solutionWidth">
                                <h5>化工行业</h5>
                                <img src="<%- url_for('images/products/solution01.png') %>" width="100%">
                            </div>
                            <p>风机选型：BLOWERXPERT专业选型软件进行选型<br>
风机过流部件的材质有铸铁、球铁、碳钢、镍铬涂层和不锈钢等多种材质可供选择，采用5点机械密封的设计，工作腔与油箱之间有迷宫式气封和机械密封共同作用，工作腔与油箱之间也可以充氮气作为气障，防止气体泄漏
风机出厂前经过压力测试、气密封型测试、运行测试等测试，以确保系统运行的安全可靠</p>
                            <div class="solutionWidth">
                                <h5>电厂行业</h5>
                                <img src="<%- url_for('images/products/solution02.png') %>" width="100%">
                            </div>
                            <p>
系统升压比较高，达到1.3 bar g，需要两级风机串联使用，双极串联机组升压可以达到1.7 bar g
机组配置：AIR BLOWER+电机+中间换热器+温度开关、压力开关+……</p>
                            <div class="solutionWidth">
                                <h5>MVR行业</h5>
                                <img src="<%- url_for('images/products/solution03.png') %>" width="100%">
                            </div>
                            <p>
工作介质为水蒸气，升温可达15-25摄氏度，单台处理能力4T/h
机组配置：MVR BLOWER+变频电机+膜片联轴器+温度开关+……</p>
                        </div>
                    <% } else { %>
                        <h3><%- page.tags %></h3>
                        <div class="productList">
                            <ul class="clearfix" style="border-bottom:none;">
                            <% site.pages.forEach(function(p) { %>
                                <% if (p.tags === page.tags && !p.isList) {%>
                                    <li>
                                        
                                            <a href="<%- url_for(p.path) %>" class="productL fl">
                                                <img src="detail/<%- p.title %>.jpg" width="158">
                                            </a>
                                            <div class="productR fl">
                                                <p><%- p.title.replace('-', '<br>-') %></p>
                                                <a href="<%- url_for(p.path) %>"></a>
                                            </div>
                                        
                                    </li>
                                <% } %>
                            <% }); %>
                            </ul>
                        </div>
                    <% } %>
                   
                    <% } else {%>
                    <h3><%- page.title %></h3>
                    <div class="productDetail">
                        <div>
                            <div class="proDetailR">
                            <div class="clearfix">
                                <img src="<%- page.title %>.jpg" width="338" class="productImg fl">
                                <div class="proDetailRR fl">
                                    <div class="proDetailRR1">
                                        <%- page.content %>
                                    </div>
                                </div>
                            </div>
                                <p class="productLine"></p>
                                <h5 class="proDetailRh5">型号：</h5>
                                <p class="detailBig">
                                    <%- page.productTypes %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>